@{
    ViewBag.Title = "Home Page";
}
@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin-top: 20px;">
    <div class="col-md-8">
        <img src="~/Content/Imagens/cadastro-de-clientes-1.jpg" class="img-responsive" alt="Responsive image" style="width:100%";>
    </div>

    <div class="col-md-4" >
        <div class="well" style="background-image: url(https://neilpatel.com/wp-content/uploads/2019/10/mini-caixas-de-compras-sob-teclado-de-laptop-1.jpeg.webp) ">
            <h2 style="color:aliceblue">Cadastro de clientes e Produtos</h2>
            <p style="color:aliceblue"> Esse site tem como objetivo, realizar cadastro de produtos e clientes.</p>
            <h3>@Html.ActionLink("Produtos", "Index", "Produtos")</h3>
            <h3>@Html.ActionLink("Pessoas", "Index", "Pessoas")</h3>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>
<style>
    footer {
        text-align: center;
    }
</style>

 